<h1>Users</h1>

<div>
  <% @users.each do |user| %>
    <%= link_to user.name, user %>

    <div>
      <h5><%= pluralize(user.articles.count, "article") %></h5>
      <%= link_to "View Profile",user %>
      <%= link_to "Edit Profile",edit_user_path(user) %>
    </div>

    <div>
      <small>Joined <%= time_ago_in_words(user.created_at) %> ago</small>
      <p></p>
    </div>
  <% end %>
</div>