<h1>Users</h1>

<div class="apple_pagination">
  <%= will_paginate @users, :container => false %>
</div>

<div>
  <% @users.each do |user| %>
    <%= link_to user.name, user %>

    <div>
      <h5><%= pluralize(user.articles.count, "article") %></h5>
      <%= link_to "View Profile",user %>

      <% if logged_in? %>
        <% if user == current_user %>
            <%= link_to "Edit Profile", edit_user_path(user) %>
        <% end %>
        <% if current_user.admin? %>
            <%= link_to "Delete User", user_path(user), method: :delete, data: {confirm: "Confirm delete?"} %>
        <% end %>
      <% end %>
    </div>

    <div>
      <small>Joined <%= time_ago_in_words(user.created_at) %> ago</small>
      <p></p>
    </div>
  <% end %>
</div>